<div class="game_content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Lets Play!</h2>
                <p>Enter your names in the boxes below and click Start!</p>
            </div>
        </div>
        <form name="gc.playerForm">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div class="form-group">
                        <label for="player1name">Player 1 (X):</label>
                        <input ng-disabled="gc.isPlaying" type="text" name="player1name" ng-model="gc.player1name" required class="form-control" id="player1name">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="player2name">Player 2 (O):</label>
                        <input ng-disabled="gc.isPlaying" type="text" name="player2name" ng-model="gc.player2name" required class="form-control" id="player2name">
                    </div>
                </div>
            </div>
            <div>Game over:{{gc.isGameOver}}</div>
            <div>winner:{{gc.winner.name}}{{gc.winner.symbol}}</div>
            <div class="row">
                <div class="col-md-2 col-md-offset-4">
                    <div class="form-group">
                        <a class="btn btn-success btn-xl" ng-disabled="gc.playerForm.$invalid || gc.isPlaying" ng-click="gc.start()">Start</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <a class="btn btn-danger btn-xl" ng-click="gc.reset()">Reset</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="game_content" ng-show="gc.isPlaying">
    <div class="game_board">
        <svg style="opacity: 1;" viewBox="0 0 220 220">
            <path d="M108,83L6,83"
                  style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
            <path d="M108,83L210,83"
                  style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
            <path d="M73,118L73,16"
                  style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
            <path d="M73,118L73,220"
                  style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
            <path d="M108,153L6,153"
                  style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
            <path d="M108,153L210,153"
                  style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
            <path d="M143,118L143,16"
                  style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
            <path d="M143,118L143,220"
                  style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
        </svg>
    </div>
    <table class="game_cells">
        <tbody>
        <tr>
            <td class="game_cell">
                <a ng-click="gc.select(0,0)">
                    <div ng-bind-html="gc.board[0][0].display"></div>
                </a>
            </td>
            <td class="game_cell">
                <a ng-click="gc.select(0,1)">
                    <div ng-bind-html="gc.board[0][1].display"></div>
                </a>
            </td>
            <td class="game_cell">
                <a ng-click="gc.select(0,2)">
                    <div ng-bind-html="gc.board[0][2].display"></div>
                </a>
            </td>
        </tr>
        <tr>
            <td class="game_cell">
                <a ng-click="gc.select(1,0)">
                    <div ng-bind-html="gc.board[1][0].display"></div>
                </a>
            </td>
            <td class="game_cell">
                <a ng-click="gc.select(1,1)">
                    <div ng-bind-html="gc.board[1][1].display"></div>
                </a>
            </td>
            <td class="game_cell">
                <a ng-click="gc.select(1,2)">
                    <div ng-bind-html="gc.board[1][2].display"></div>
                </a>
            </td>
        </tr>
        <tr>
            <td class="game_cell">
                <a ng-click="gc.select(2,0)">
                    <div ng-bind-html="gc.board[2][0].display"></div>
                </a>
            </td>
            <td class="game_cell">
                <a ng-click="gc.select(2,1)">
                    <div ng-bind-html="gc.board[2][1].display"></div>
                </a>
            </td>
            <td class="game_cell">
                <a ng-click="gc.select(2,2)">
                    <div ng-bind-html="gc.board[2][2].display"></div>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div><br />-->
<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(0, 0, 'x')">{{board[0][0].value}}</button>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(0, 1, 'x')">{{board[0][1].value}}</button>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(0, 2, 'x')">{{board[0][2].value}}</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(1, 0, 'x')">{{board[1][0].value}}</button>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(1, 1, 'x')">{{board[1][1].value}}</button>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(1, 2, 'x')">{{board[1][2].value}}</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(2, 0, 'x')">{{board[2][0].value}}</button>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(2, 1, 'x')">{{board[2][1].value}}</button>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(2, 2, 'x')">{{board[2][2].value}}</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->