<div class="game_board">
    <svg style="opacity: 1;" viewBox="0 0 220 220">
        <path d="M108,83L6,83"
              style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
        <path d="M108,83L210,83"
              style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
        <path d="M73,118L73,16"
              style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
        <path d="M73,118L73,220"
              style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
        <path d="M108,153L6,153"
              style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
        <path d="M108,153L210,153"
              style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
        <path d="M143,118L143,16"
              style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
        <path d="M143,118L143,220"
              style="stroke: rgb(84, 84, 84); stroke-dasharray: 102; stroke-dashoffset: 0;"></path>
    </svg>
</div>
<table class="game_cells">
    <tbody>
    <tr>
        <td class="game_cell">
            <a ng-click="select(0,0,'x')"><div ng-bind-html="board[0][0].display"></div></a>
        </td>
        <td class="game_cell">
            <a ng-click="select(0,1,'o')"><div ng-bind-html="board[0][1].display"></div></a>
        </td>
        <td class="game_cell">
            <a ng-click="select(0,2,'x')"><div ng-bind-html="board[0][2].display"></div></a>
        </td>
    </tr>
    <tr>
        <td class="game_cell">
            <a ng-click="select(1,0,'x')"><div ng-bind-html="board[1][0].display"></div></a>
        </td>
        <td class="game_cell">
            <a ng-click="select(1,1,'x')"><div ng-bind-html="board[1][1].display"></div></a>
        </td>
        <td class="game_cell">
            <a ng-click="select(1,2,'x')"><div ng-bind-html="board[1][2].display"></div></a>
        </td>
    </tr>
    <tr>
        <td class="game_cell">
            <a ng-click="select(2,0,'x')"><div ng-bind-html="board[2][0].display"></div></a>
        </td>
        <td class="game_cell">
            <a ng-click="select(2,1,'x')"><div ng-bind-html="board[2][1].display"></div></a>
        </td>
        <td class="game_cell">
            <a ng-click="select(2,2,'x')"><div ng-bind-html="board[2][2].display"></div></a>
        </td>
    </tr>
    </tbody>

</table>

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div><br />-->
<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(0, 0, 'x')">{{board[0][0].value}}</button>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(0, 1, 'x')">{{board[0][1].value}}</button>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(0, 2, 'x')">{{board[0][2].value}}</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(1, 0, 'x')">{{board[1][0].value}}</button>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(1, 1, 'x')">{{board[1][1].value}}</button>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(1, 2, 'x')">{{board[1][2].value}}</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-xs-3">-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(2, 0, 'x')">{{board[2][0].value}}</button>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(2, 1, 'x')">{{board[2][1].value}}</button>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-default btn-block" ng-click="select(2, 2, 'x')">{{board[2][2].value}}</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->