<div class="container">
    <header>People directory</header>
    <section>
        <label>Filter: </label><input type="text" ng-model="filteredPerson">
    </section>
    <section>
        <ul>
            <li ng-repeat="person in people | filter:filteredPerson">{{person}}
                <button ng-click="remove(person)">Remove</button>
            </li>
        </ul>
    </section>
    <section>
        <label>Add Person:</label> <input type="text" ng-model="newPerson">
        <button ng-click="add()">Add</button>
    </section>
</div>
